header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.logo {
  width: 148px;
  min-height: 105px;
}

.header__menu {
  display: flex;
  gap: 13px;
  color: #000;
  font-size: 18px;
  list-style: circle;
  list-style-position: inside;
  text-decoration-skip-ink: none;
}

.address {
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 18px;
  line-height: 135%;
  max-width: 240px;
  justify-self: end;
  align-items: flex-start;
  text-decoration-skip-ink: none;
}

.active {
  text-decoration: none;
  list-style: none;
}

.cover {
  background-image: url(../images/lotus-flower.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 757px;
  position: relative;
  padding: 165px 50px 50px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}

.cover__title {
  position: relative;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 106px;
}

.aligned-text {
  display: block;
}
.aligned-text_left {
  text-align: left;
  padding-bottom: 20px;
}

.aligned-text_center {
  position: relative;
  left: 15px;
  text-align: center;
  padding-bottom: 20px;
}

.aligned-text_right {
  text-align: right;
  position: relative;
  left: 29px;
}

.description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description {
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 19px;
}

.bet-button {
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  width: 256px;
  height: 51px;
}

.lots {
  margin: 173px 24px 0px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
}

.card__text {
  position: relative;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.lots__look-more-link {
  font-weight: 400;
  font-size: 20px;
  color: #000;
  text-decoration-skip-ink: none;
  margin-left: 40px;
}

.about {
  margin: 120px 25px 0;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  margin-top: 40px;
}

.about__logo-image {
  width: 142px;
  height: 112px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  margin-top: 140px;
}

.container__about_text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 100px;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000;
}

.footer {
  margin-top: 180px;
  padding: 0 50px 82px;
  display: flex;
  justify-content: space-between;
}

.footer__menu-list {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #000;
  text-decoration-skip-ink: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
